{% extends 'base.html' %}


{% block content %}

<div>
    <div class="row my_row_class">
        <div class = "mx-auto">
        <p style="letter-spacing :.2em;font-size:14px;text-transform:uppercase;font-style:verdana;text-center;"><a href="{% url 'index' %}">{{category_name}}</a></p>
    </div>
        </div>
</div>
{% endif %}

<div class="mx_auto">
    {% if category %}
</div>
<br>
<div>
    <h1 class="text-center my_title" style="letter-spacing :.2em;font-size:14px;text-transform:uppercase;font-style:verdana;">{{category.name}} </h1>
</div>
{% else %}
<div>
</div>
<br>
<div>
    <h1 class="text-center my_title" style="font-family:cambria;padding:15px;">{{category_name}}</h1>

{% endif %}

<div class="container">
    <div class="row mx_auto">
        {% for category in categories %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem;">
                <div>
                    <a href="{{movie.id}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}} width=1250px height=50px"></a>
                    <div class="card-body">
                        <h4 style="font-family:cambria;text-tranform:uppercase;letter-spacing:.2em;padding-tp:15px;padding-bottom:10px;">{{product.name}}</h4>
                        <p style="font-family:cambria;text-tranform:uppercase;letter-spacing:.2em;padding-tp:15px;padding-bottom:10px;">{{product.price}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm{% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>


{% endblock %}

{% endblock %}